<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITabBarController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61F3D14D1ECED24F00EC852F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61F3D1661ECED24F00EC852F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61F3D1711ECED24F00EC852F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
