<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITextField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61D2C6C11EC1E6FF0010BE69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61D2C6DA1EC1E6FF0010BE69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61D2C6E51EC1E6FF0010BE69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
