<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SQLite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61B2B52F1ED97CB40051547D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61B2B5481ED97CB50051547D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61B2B5531ED97CB50051547D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
