<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NavigationAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61C14B341EE2D5FA00293989</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61C14B4D1EE2D5FB00293989</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61C14B581EE2D5FB00293989</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
